{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="col-6">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Roles</th>
            <th scope="col">Selected Project</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.printedRoles }}</td>
                <td>{{ user.project.name|default }}</td>
                <td><a href="{{ path('admin_user_edit', {'id': user.id }) }}" class="btn btn-primary" role="button">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
