{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="row justify-content-lg-center">
    <div class="col-12 col-lg-6">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                {% for key,result in userArray %}
                    <th class="text-center" scope="col">{{ result }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for key,result in resultArray %}
                <tr>
                    <td>{{ result[0].device.name }}</td>
                    {% for userKey, userResult in userArray %}
                        {% if result is defined and result[userKey] is defined %}
                            {% if result[userKey]['type'] == 1 %}
                                <td class="text-center">{{ result[userKey]['score']|default(0) }}</td>
                            {% elseif result[userKey]['type'] == 2 %}
                                {% if result[userKey]['score'] is null%}
                                    <td class="text-center">-</td>
                                {% else %}
                                    <td class="text-center">{{ result[userKey]['score']|default(0) }}</td>
                                {%  endif %}
                            {% endif %}
                        {% else %}
                            <td class="text-center">-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td>TotalScore</td>
                {% for score in totalResultArray %}
                    <td class="text-center">{{ score }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
