<script>
    // multi select answers
    var selectedDiv = null; // Track the currently selected div

    function selectMultiAnswer(id) {
        document.getElementById('answer_question_answer_selected_answer').value = id;

        const clickedDiv = document.getElementById(id);

        // Revert the color of the previously selected div, if any
        if (selectedDiv !== null) {
            selectedDiv.style.backgroundColor = selectedDiv.dataset.originalColor;
            selectedDiv.querySelector('p').style.color = null; // Set the text color to black
        }

        // Darken the color of the clicked div
        const currentColor = window.getComputedStyle(clickedDiv).backgroundColor;
        const compStyles = window.getComputedStyle(clickedDiv).borderColor;
        clickedDiv.dataset.originalColor = currentColor; // Store the original color
        clickedDiv.style.backgroundColor = darkenColor(compStyles);
        clickedDiv.querySelector('p').style.color = 'white'; // Set the text color to white

        selectedDiv = clickedDiv; // Update the selected div
    }

    function darkenColor(color) {
        const rgb = color.match(/\d+/g);
        const r = parseInt(rgb[0]);
        const g = parseInt(rgb[1]);
        const b = parseInt(rgb[2]);

        const darkerR = Math.floor(r * 0.7);
        const darkerG = Math.floor(g * 0.7);
        const darkerB = Math.floor(b * 0.7);

        return 'rgb(' + darkerR + ', ' + darkerG + ', ' + darkerB + ')';
    }

</script>
<div class="game">
    <div class="d-flex align-items-center justify-content-center title">
        <h1 class="title-font">Multiple Choice</h1>
    </div>

    {% if question.image is not null %}
    <div class="d-flex align-items-center justify-content-center question-image">
        <img src="{{ asset('uploads/questionImages/' ~ question.image) }}" width='50%' alt="">
    </div>
    {% endif %}

    <div class="d-flex align-items-center justify-content-center question-text">
        <p class="question-font">{{ question.text }}</p>
    </div>
    <div class="container">
        <div class="row">
            {% for key, value in question.multiAnswersAsArray %}
                <div class="col-12 col-lg-6">
                    {% if value is not null %}
                        {% if loop.index == 1 %}
                            <div class="inner-div border border-2 rounded-3 border-danger d-flex align-items-center justify-content-center"
                                 id="{{ key }}" onclick="selectMultiAnswer('{{ key }}')">
                                <p>{{ value }}</p>
                            </div>
                        {% elseif loop.index == 2 %}
                            <div class="inner-div border border-2 rounded-3 border-success d-flex align-items-center justify-content-center"
                                 id="{{ key }}" onclick="selectMultiAnswer('{{ key }}')">
                                <p>{{ value }}</p>
                            </div>
                        {% elseif loop.index == 3 %}
                            <div class="inner-div border border-2 rounded-3 border-primary d-flex align-items-center justify-content-center"
                                 id="{{ key }}" onclick="selectMultiAnswer('{{ key }}')">
                                <p>{{ value }}</p>
                            </div>
                        {% elseif loop.index == 4 %}
                            <div class="inner-div border border-2 rounded-3 border-warning d-flex align-items-center justify-content-center"
                                 id="{{ key }}" onclick="selectMultiAnswer('{{ key }}')">
                                <p>{{ value }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row game-submit">
            <div class="col-12 col-lg-6 offset-lg-3">
                {# {{ form_row(form.submit)}} #}
                <div class="d-grid gap-2">
                    <button type="submit" id="answer_question_submit" name="answer_question[submit]"
                            class="btn btn-lg btn-primary">Answer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>