<script>
    // multi select answers
    var selectedDiv = null; // Track the currently selected div

    function selectMultiAnswer(id) {
        document.getElementById('answer_question_selected_answer').value = id;

        const clickedDiv = document.getElementById(id);

        // Revert the color of the previously selected div, if any
        if (selectedDiv !== null) {
            selectedDiv.style.backgroundColor = selectedDiv.dataset.originalColor;
            selectedDiv.querySelector('p').style.color = 'black'; // Set the text color to black
        }

        // Darken the color of the clicked div
        const currentColor = window.getComputedStyle(clickedDiv).backgroundColor;
        clickedDiv.dataset.originalColor = currentColor; // Store the original color
        clickedDiv.style.backgroundColor = darkenColor(currentColor);
        clickedDiv.querySelector('p').style.color = 'white'; // Set the text color to white

        selectedDiv = clickedDiv; // Update the selected div
    }

    function darkenColor(color) {
        const rgb = color.match(/\d+/g);
        const r = parseInt(rgb[0]);
        const g = parseInt(rgb[1]);
        const b = parseInt(rgb[2]);

        const darkerR = Math.floor(r * 0.5);
        const darkerG = Math.floor(g * 0.5);
        const darkerB = Math.floor(b * 0.5);

        return 'rgb(' + darkerR + ', ' + darkerG + ', ' + darkerB + ')';
    }

</script>
<div class="game">
    <div class="d-flex align-items-center justify-content-center title">
        <h1>Multiple Choice</h1>
    </div>

    <div class="d-flex align-items-center justify-content-center question-text">
        <p>{{ question.text }}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if(question.multi1 is not null) %}
                    <div class="inner-div" style="background-color: red;" id="1" onclick="selectMultiAnswer('1')">
                        <p>{{ question.multi1 }}</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-6">
                {% if(question.multi2 is not null) %}
                    <div class="inner-div" style="background-color: green;" id="2" onclick="selectMultiAnswer('2')">
                        <p>{{ question.multi2 }}</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-6">
                {% if(question.multi3 is not null) %}
                    <div class="inner-div" style="background-color: blue;" id="3" onclick="selectMultiAnswer('3')">
                        <p>{{ question.multi3 }}</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-6">
                {% if(question.multi4 is not null) %}
                    <div class="inner-div" style="background-color: yellow;" id="4" onclick="selectMultiAnswer('4')">
                        <p>{{ question.multi4 }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{#    <form action="" method="post">#}
{#        <input type="hidden" name="question_id" value="{{ question.id }}">#}
{#        <input type="hidden" name="selected_answer" id="selected_answer">#}
{#        <input type="submit" value="answer">#}
{#    </form>#}


</div>