{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3">
                <div class="col-xl-12">
                    Hoofd edit project pagina

                    <p>Users in project:</p>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in usersInProject %}
                            <tr>
                                <td>{{ user.username }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>



                <div class="col-xl-12">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Locations:{{ locations|length }} </td>
                            <td><a href="{{ path('admin_location', {'project': project.id}) }}" class="btn btn-primary">Open</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Locations without question: {{ locationCountWithoutQuestion|default }}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xl-12">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Questions</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Question: {{ questions|length }}</td>
                            <td><a href="{{ path('admin_question', {'project': project.id}) }}" class="btn btn-primary">Open</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Questions without Location: {{ questionCountWithoutLocation|default }}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
