{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-5">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">QR</th>
                    <th scope="col">Link</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for device in devices %}
                    <tr>
                        <td>{{ device.name }}</td>
                        <td><a href="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{ app.request.getSchemeAndHttpHost() }}/game/{{ device.guid }}"><img src="https://api.qrserver.com/v1/create-qr-code/?size=75x75&data={{ app.request.getSchemeAndHttpHost() }}/game/{{ device.guid }}" alt="qr-code"></a></td>
                        <td><a href="{{ app.request.getSchemeAndHttpHost() }}/game/{{ device.guid }}" target="_blank" class="btn btn-info" role="button"><i class="fa-solid fa-link"></i></a> </td>
                        <td class="table-align"><a href="{{ path('admin_device_edit', {'id': device.id }) }}" class="btn btn-primary" role="button"><i class="fa-regular fa-pen-to-square"></i></a></td>
                        <td class="table-align"><a href="{{ path('admin_device_delete_confirm', {'id': device.id }) }}" class="btn btn-danger" role="button"><i class="fa-regular fa-trash-can"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3"></th>
                        <th colspan="3" class="table-align">Add device <a href="{{ path('admin_device_add') }}" class="btn btn-primary" role="button"><i class="fa-solid fa-plus"></i></a></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
