{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="col-6">
        <p>Locations in project:</p>
        <a href="{{ path('admin_location_add', {'project': project.id }) }}" class="btn btn-primary"
           role="button">Create</a>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Coordinate</th>
                <th scope="col">Device</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.name|default }}</td>
                    <td>{{ location.coordinate|default }}</td>
                    <td>{{ location.device.name|default }}</td>
                    <td>
                        <a href="{{ path('admin_location_edit', {'project': project.id, 'location': location.id }) }}"
                           class="btn btn-primary" role="button">Edit</a></td>
                    <td>
                        <a href="{{ path('admin_location_delete_confirm', {'project': project.id, 'location': location.id }) }}"
                           class="btn btn-danger" role="button">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
