{% extends 'base.html.twig' %}

{% block title %}Edit Score{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% if answer.question.type == 2 %}
            <div class="col-12 col-lg-4">
                <h1>Edit Open Question Score</h1>

                {% if answer.question.image is not null %}
                    <div class="d-flex align-items-center justify-content-center question-image">
                        <img src="{{ asset('uploads/questionImages/' ~ answer.question.image) }}" width='50%' alt="">
                    </div>
                {% endif %}

                <p>Question: {{ answer.question.text }}</p>
                <p>Additional text: {{ answer.question.open }}</p>

                <p>Antwoord:<br>
                    {{ answer.open }}</p>
                {{ form(form) }}
            </div>
        {% elseif answer.question.type == 3 %}
            <div class="col-12 col-lg-4">
                <h1>Edit Photo Question Score</h1>
                {% if answer.question.image is not null %}
                    <div class="d-flex align-items-center justify-content-center question-image">
                        <img src="{{ asset('uploads/questionImages/' ~ answer.question.image) }}" width='50%' alt="">
                    </div>
                {% endif %}
                <p>Question: {{ answer.question.text }}</p>
                <img src="{{ asset('uploads/answerImages/' ~ answer.image) }}" width='50%' alt="">
                {{ form(form) }}
            </div>
        {% endif %}

    </div>
{% endblock %}
